<div class="account-info">
    <div class="avatar-holder">
        <img [src]="accountInfo.avatarUrl" class="github-avatar">
    </div>
    <div class="container">
        <div class="name">
            <label for="name">Account name: </label>
            <h1>{{accountInfo.name}}</h1>
        </div>
        <div class="company">
            <label for="company">Company: </label>
            <h1>{{accountInfo.company}}</h1>
        </div>
        <div class="email">
            <label for="email">Email:</label>
            <h1>{{accountInfo.email}}</h1>
        </div>
        <div class="location">
            <label for="location">Location:</label>
            <h1>{{accountInfo.location}}</h1>
        </div>
        <div class="bio">
            <label for="bio">Bio:</label>
            <h1>{{accountInfo.bio}}</h1>
        </div>
    </div>
</div>