.messages-log {
    position: fixed;
    right: 0;
    bottom: 0;
}

.messsages,
p-messages {
    width: 50em;
    height: 20em;
}

.messsages {
    display: flex;
    justify-content: end;
    margin-right: 2em;
    align-items: end;
}